#panelContainer {
  width: 100%;
  min-height: 100%;
  display: flex;
}

#contentContainer {
  flex-grow: 1;
  padding: 0 2rem;
}

#title {
  margin-top: 15px;
}

#backButton a {
  text-decoration: none;
  color: black;
  font-family: var(--font);
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#backButton a svg {
  margin-right: 10px;
}
#workspaceContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#emptyState {
  width: 100%;
  display: flex;
  place-items: center;
}

#emptyState h1 {
  color: var(--gray);
  font-size: 3rem;
  text-align: center;
}

#titlecontainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#deleteAllButton {
  background-color: black;
  border-radius: 8px;
  color: white;
  padding: 3px 15px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
