#searchContainer {
  height: 10vh;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#searchBar {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--gray);
  border-radius: 25px;
  padding: 1rem;
}

#searchInput {
  border: none;
  color: black;
  width: 100%;
  font-size: 1rem;
  font-family: sans-serif;
  padding-left: 1rem;
  outline: none;
}
