#sidebar {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-family: "Kaushan Script", cursive;
  height: 8vh;
}

#trash {
  width: 50px;
  margin-bottom: 2rem;
}

#elementContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
