.yellow {
  background-color: #ffd07d;
}
.orange {
  background-color: #ffa57e;
}
.blue {
  background-color: #01d9ff;
}
.green {
  background-color: #e8f09a;
}
.violet {
  background-color: #b591fc;
}
