:root {
  --gray: #e6e6e8;
  --yellow: #ffd07d;
  --orange: #ffa57e;
  --blue: #01d9ff;
  --green: #e8f09a;
  --violet: #b591fc;
}

.yellow {
  background-color: var(--yellow);
}
.orange {
  background-color: var(--orange);
}
.blue {
  background-color: var(--blue);
}
.green {
  background-color: var(--green);
}
.violet {
  background-color: var(--violet);
}
