:root {
  --gray: #e6e6e8;
  --yellow: #ffd07d;
  --orange: #ffa57e;
  --blue: #01d9ff;
  --green: #e8f09a;
  --violet: #b591fc;
  --font: "Roboto", sans-serif;
}
body {
  font-family: var(--font);
}

.yellow {
  background-color: var(--yellow);
}
.orange {
  background-color: var(--orange);
}
.blue {
  background-color: var(--blue);
}
.green {
  background-color: var(--green);
}
.violet {
  background-color: var(--violet);
}

#layout {
  display: flex;
}

@media (max-width: 600px) {
  #layout {
    flex-direction: column;
  }
  #logo {
    display: flex;
    justify-content: center;
  }
}
